<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="boostrap4/css/bootstrap.css">
    <link rel="stylesheet" href="boostrap4/css/fonts.css">
    <link rel="stylesheet" href="index/css/index.css">
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
    <title>首页</title>
</head>
<body>
<!--banner开始-->
<section>
    <div id="hls_banner">
<!---->
        <div id="hls_banner_box" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#hls_banner_box" data-slide-to="0" class="active"></li>
                <li data-target="#hls_banner_box" data-slide-to="1"></li>
                <li data-target="#hls_banner_box" data-slide-to="2"></li>
                <li data-target="#hls_banner_box" data-slide-to="3"></li>
                <li data-target="#hls_banner_box" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="logo"><img src="index/images/lojo_text.png" alt=""></div>
                    <img src="index/images/a1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <div class="logo"><img src="index/images/lojo_text.png" alt=""></div>
                    <img src="index/images/a1%20(4).jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                     <div class="logo"><img src="index/images/lojo_text.png" alt=""></div>
                    <img src="index/images/banner2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                     <div class="logo"><img src="index/images/lojo_text.png" alt=""></div>
                    <img src="index/images/a1%20(2).JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                     <div class="logo"><img src="index/images/lojo_text.png" alt=""></div>
                    <img src="index/images/banner3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#hls_banner_box" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#hls_banner_box" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<!--导航栏开始-->
<header id="hls_header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#hls_nav_button01" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="hls_nav_button01">
                    <ul class="navbar-nav mr-auto d-flex">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">首页 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="School_profile/School_profile.html" id="School_profile"   >
                                学校概况
                            </a>
                            <div class="dropdown-menu" aria-labelledby="School_profile">
                                <a class="dropdown-item" href="School_profile/School_profile.html?tid=0">学校简介</a>
                                <a class="dropdown-item" href="School_profile/School_profile.html?tid=1">历史沿革</a>
                                <a class="dropdown-item" href="School_profile/School_profile.html?tid=2">职能机构</a>
                                <a class="dropdown-item" href="School_profile/School_profile.html?tid=3">规章制度</a>
                                <a class="dropdown-item" href="School_profile/School_profile.html?tid=4">学校荣誉</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ohter_child/Professional_introduction.html">专业简介</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/Part_build_work.html" id="Party_work"   >
                                党工建设
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Party_work">
                                <a class="dropdown-item" href="ohter_child/Part_build_work.html?tid=0">党建工作</a>
                                <a class="dropdown-item" href="ohter_child/Part_build_work.html?tid=1">工会工作</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/Moral_education_manage.html" id="Moral_education"   >
                                德育管理
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Moral_education">
                                <a class="dropdown-item" href="ohter_child/Moral_education_manage.html?tid=0">德育理念</a>
                                <a class="dropdown-item" href="ohter_child/Moral_education_manage.html?tid=1">精神培育</a>
                                <a class="dropdown-item" href="ohter_child/Moral_education_manage.html?tid=2">队伍建设</a>
                                <a class="dropdown-item" href="ohter_child/Moral_education_manage.html?tid=3">安全法制</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/Teaching_scientific_research.html" id="Teaching_scientific_research"   >
                                教学科研
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Teaching_scientific_research">
                                <a class="dropdown-item" href="ohter_child/Teaching_scientific_research.html?tid=1">教师队伍</a>
                                <a class="dropdown-item" href="ohter_child/Teaching_scientific_research.html?tid=2">教学管理</a>
                                <a class="dropdown-item" href="ohter_child/Teaching_scientific_research.html?tid=3">科研工作</a>
                                <a class="dropdown-item" href="ohter_child/Teaching_scientific_research.html?tid=4">高考动态</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/Recruit_students_info.html" id="Enrollment_employment"   >
                                招生就业
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Enrollment_employment">
                                <a class="dropdown-item" href="ohter_child/Recruit_students_info.html?tid=0">招生政策</a>
                                <a class="dropdown-item" href="ohter_child/Recruit_students_info.html?tid=1">招生计划</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/Teacher_student_style.html" id="Teacher_student_style"   >
                                师生风采
                            </a>
                            <!--<div class="dropdown-menu" aria-labelledby="Teacher_student_style">-->
                                <!--<a class="dropdown-item" href="">最美教师</a>-->
                                <!--<a class="dropdown-item" href="">最美学生</a>-->
                                <!--<a class="dropdown-item" href="">师生获奖</a>-->
                                <!--<a class="dropdown-item" href="">各类光荣榜</a>-->
                            <!--</div>-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/school_culture.html" id="school_culture"   >
                               校园文化
                            </a>
                            <div class="dropdown-menu" aria-labelledby="school_culture">
                                <a class="dropdown-item" href="ohter_child/school_culture.html?tid=0">校园风景</a>
                                <a class="dropdown-item" href="ohter_child/school_culture.html?tid=1">楼廊文化</a>
                                <a class="dropdown-item" href="ohter_child/school_culture.html?tid=2">视频集锦</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="ohter_child/server.html" id="hls_service"   >
                                服务地方
                            </a>
                            <div class="dropdown-menu" aria-labelledby="hls_service">
                                <a class="dropdown-item" href="ohter_child/server.html?tid=0">校企合作</a>
                                <a class="dropdown-item" href="ohter_child/server.html?tid=1">社区培训</a>
                                <a class="dropdown-item" href="ohter_child/server.html?tid=2">电大函授</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<!--主页内容-->
<section>
    <div id="hls_news_con">
         <div class="container">
             <div class="row" id="Vue_app">
                 <!--第一个盒子-->
                 <div class="col-md-6 col-12 pt-2   first_conBox">
                     <h5 ><p><span >C</span>ampus 校园新闻</p></h5>
                     <!--列表组-->
                     <div class="bd-example">
                             <div id="hls_news_pic" class="carousel slide img-thumbnail carousel-fade" data-ride="carousel">
                             <ol class="carousel-indicators justify-content-end">
                                 <li data-target="#hls_news_pic" data-slide-to="0" class="active">1</li>
                                 <li data-target="#hls_news_pic" data-slide-to="1">2</li>
                                 <li data-target="#hls_news_pic" data-slide-to="2">3</li>
                                 <li data-target="#hls_news_pic" data-slide-to="3">4</li>
                                 <li data-target="#hls_news_pic" data-slide-to="4">5</li>
                             </ol>
                             <div class="carousel-inner">
                                 <div :key="item.id" v-for="(item,index) in carouselArr" class="carousel-item" :class="{'active':index==0}">
                                     <div class="card">
										 <a :href="' detailed_info/detailed_info.html?name='+item.type+'&tid=0&id='+item.textid+' '">
                                         <img class="card-img-top" :src="item.img" alt="Card image cap">
										 </a>
                                         <div class="card-body">
                                             <p v-cloak class="card-text text-truncate">{{item.text}}</p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!--第二个盒子-->
                 <div class="col-md-6 col-12 pt-2 second_conBox  overflow-hidden">
                     <h5 class="text-primary   pb-2">
                         <p class="d-inline"><span >L</span>atest 最新消息</p>
                         <!--<a href="#" class="float-right mt-2">更多》</a>-->
                     </h5>
                     <ul class="list-unstyled overflow-auto">

                         <li v-cloak  :key="item.id" v-for="(item,index) in titleArr" class="border-bottom border-light">
                             <a :href="' detailed_info/detailed_info.html?tid=0&name=zxxx&id='+item.textid+' '" class="d-block">
                                 <span class="float-left">{{item.text}}</span><span class="float-right">[{{item.time}}]</span>
                             </a>
                         </li>

                     </ul>


                 </div>
                 <!--第三个盒子-->
                 <div class="col-md-6 col-12 third_conBox   pt-2" id="third_conBox">
                     <h5 class="text-primary   pb-2">
                         <p class="d-inline"><span >N</span>otice 通知公告</p>
                     </h5>
                     <div class="text_notice">
                         <div v-cloak :key="item.id"   v-for="item in noticeArr" class="t_div1 border-bottom border-light mb-2 pb-3">
                             {{item.text}}
                             <br>
                             <p><span class="float-right">{{item.time}}</span></p>
                         </div>
                     </div>
                 </div>
                 <!--第四个盒子-->
                 <div class="col-md-6 col-12 pt-2 forth_conBox ">
                     <h5 class="text-primary   pb-2">
                         <p class="d-inline"><span >B</span>eautiful 美丽校园</p>
                     </h5>
                     <!--在大屏幕的条件下-->
                     <!--<span class="glyphicon glyphicon-triangle-left"></span>-->
                     <div id="beaut_carousel" class="carousel slide carousel-fade" data-ride="carousel">
                         <ol class="carousel-indicators beat_carousel-indicators">
                             <li  data-target="#beaut_carousel" data-slide-to="0" class="active">俯瞰校园</li>
                             <li  data-target="#beaut_carousel" data-slide-to="1">钟楼</li>
                             <li  data-target="#beaut_carousel" data-slide-to="2">教学楼</li>
                             <li  data-target="#beaut_carousel" data-slide-to="3">学生公寓</li>
                         </ol>
                         <div class="carousel-inner">
                             <div class="carousel-item active">
                                 <img src="index/images/c2.jpg" class="d-block w-100" alt="...">
                             </div>
                             <div class="carousel-item">
                                 <img src="index/images/c3.jpg" class="d-block w-100" alt="...">
                             </div>
                             <div class="carousel-item">
                                 <img src="index/images/c4.jpg" class="d-block w-100" alt="...">
                             </div>
                             <div class="carousel-item">
                                 <img src="index/images/c1.jpg" class="d-block w-100" alt="...">
                             </div>
                         </div>
                     </div>
                     <!--在小屏幕的条件下-->
                     <!--使用轮播代替-->
                     <!--<div class="bd-example d-xl-none d-lg-none">-->
                         <!--<div id="beaut_pic" class="carousel slide" data-ride="carousel">-->
                             <!--<ol class="carousel-indicators">-->
                                 <!--<li data-target="#beaut_pic" data-slide-to="0" class="active"></li>-->
                                 <!--<li data-target="#beaut_pic" data-slide-to="1"></li>-->
                                 <!--<li data-target="#beaut_pic" data-slide-to="2"></li>-->
                             <!--</ol>-->
                             <!--<div class="carousel-inner">-->
                                 <!--<div class="carousel-item active">-->
                                     <!--<img src="index/images/tab_pic1.png" class="d-block w-100" alt="...">-->
                                     <!--<div class="carousel-caption ">-->

                                         <!--<p class="text-dark">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                                     <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="carousel-item">-->
                                     <!--<img src="index/images/tab_pic1.png" class="d-block w-100" alt="...">-->
                                     <!--<div class="carousel-caption ">-->

                                         <!--<p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                     <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="carousel-item">-->
                                     <!--<img src="index/images/tab_pic1.png" class="d-block w-100" alt="...">-->
                                     <!--<div class="carousel-caption ">-->

                                         <!--<p class="text-dark">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                                     <!--</div>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<a class="carousel-control-prev" href="#beaut_pic" role="button" data-slide="prev">-->
                                 <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                                 <!--<span class="sr-only">Previous</span>-->
                             <!--</a>-->
                             <!--<a class="carousel-control-next" href="#beaut_pic" role="button" data-slide="next">-->
                                 <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                                 <!--<span class="sr-only">Next</span>-->
                             <!--</a>-->
                         <!--</div>-->
                     <!--</div>-->



                 </div>
             </div>
             <!--旁边的小信息-->
             <div class="more_news  d-none d-md-none d-sm-none d-xl-block d-lg-block">
                 <!--常用信息-->
                 <div class="used_news">
                     <h5 ><p><span >C</span>ommon 常用信息</p></h5>
                     <ul class="d-flex list-unstyled flex-wrap">
                         <li><a href="School_profile/School_profile.html?tid=0">学校简介</a></li>
                         <li><a href="ohter_child/Professional_introduction.html">专业简介</a></li>
                         <li><a href="ohter_child/Moral_education_manage.html?tid=0">德育理念</a></li>
                         <li><a href="ohter_child/Teaching_scientific_research.html?tid=2">教学管理</a></li>
                         <li><a href="ohter_child/Recruit_students_info.html?tid=5">招生政策</a></li>
                         <li><a href="ohter_child/school_culture.html?tid=2">视频集锦</a></li>
                     </ul>

                 </div>
                 <!--关注我们-->
                 <div class="followOur mt-5">
                     <h5 ><p><span >F</span>ollow 关注我们</p></h5>

                     <!--轮播二维码-->
                     <div id="two_code" class="carousel slide" data-ride="carousel">
                         <div class="carousel-inner">
                             <div class="carousel-item active">

                                 <img src="index/images/ewm.jpg" class="d-block w-100" alt="...">
                             </div>
                             <div class="carousel-item">

                                 <img src="index/images/ewm.jpg" class="d-block w-100" alt="...">
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="search">
                     <img src="index/images/search.png" class="w-100" alt="">
                 </div>
                 .



             </div>
         </div>
    </div>
</section>
<!--校园文化部分开始-->
<section>
    <div class="school_culture mt-3">
        <div class="container">
                <h3 class="text-center">校园文化</h3>
                <p class="text-center h4">School Culture</p>

                <div class="hls_evt_pic">
                    <ul class="clearfix">
                        <li><a href="ohter_child/school_culture.html?tid=1">

                            <span class="sp1 "><img class="rounded-lg" src="index/images/e11.jpg" alt=""></span>
                            <span class="sp2 "><img class="rounded-lg" src="index/images/e1.jpg" alt=""></span>
                        </a></li>
                        <li><a href="ohter_child/Moral_education_manage.html?tid=8">
                            <span class="sp1"><img class="rounded-lg" src="index/images/e22.jpg" alt=""></span>
                            <span class="sp2"><img  class="rounded-lg"src="index/images/e2.jpg" alt=""></span>
                        </a></li>
                        <li><a href="ohter_child/school_culture.html">
                            <span class="sp1"><img class="rounded-lg" src="index/images/e33.jpg" alt=""></span>
                            <span class="sp2"><img  class="rounded-lg"src="index/images/e3.jpg" alt=""></span>
                        </a></li>
                    </ul>
                </div>
        </div>

    </div>





</section>
<!--视频开始-->
<section class="d-none d-lg-block d-xl-block">
    <div id="hls_mp4_box">
        <div class="container">
            <div class="row">
                <div class="huitiao">
                    <p>知行合一　宜国宜家</p>
                </div>
                <video loop="loop" autoplay="autoplay" controls="controls" id="video" src="index/images/shoolm4.mp4"></video>
            </div>
        </div>


    </div>




</section>
<footer id="footer">
    <div class="container">
        <div class="row">
        <div class="logo col-4 d-flex justify-content-center">
            <img src="index/images/logo.png" alt="">
        </div>
        <div class="school_info col-8 d-flex align-items-center">
            版权所有@海林市综合高中|地址:
            ~~r
            |邮编: 102206 |京ICP备18054216号
        </div>
        </div>
    </div>


</footer>

<!--飘动的招生电话-->
<section>
    <div  class="zsdh_box">
        <img src="index/images/zsdh.png" alt="">
    </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="boostrap4/js/jquery.js"></script>
<script src="boostrap4/js/bootstrap.bundle.js"></script>
<script src="index/js/index.js"></script>
<script src="boostrap4/js/vue.js"></script>
<script>
	const vm = new Vue({
		el:"#Vue_app",
		data:{
			noticeArr:[

			],
			carouselArr:[

			],
			titleArr:[

			]
		},
		methods:{
				//获取首页公告
	         getNotice:function(){
				 $.ajax({
					 url:"api/getallnotice",
					 success:function(data){
						 // console.log(data);
						 data.data.forEach( (item,index) => {
							 let noticeObj = {

							 };
							 noticeObj.id = index;
							 noticeObj.text = item.content;
							 noticeObj.time = item.created_at;
								 let aaa = noticeObj.time.split(" ")
								 noticeObj.time = aaa[0];
								 // console.log(noticeObj);
								 vm.noticeArr.push(noticeObj);
						 });
                         vm.noticeArr.forEach(() => {
                             if(vm.noticeArr.length>3){
                             vm.noticeArr.splice(0,1);

                         }
                     });
//                         console.log(vm.noticeArr);

                     },
                     error:function(data){
						 console.log(data);
					 }
				 })
			 },
			 	//获取轮播信息
			 getCarousedata:function(){
				 $.ajax({
					 url:"api/getcarouselarticle",
					 success:function(data){
						  console.log(data);
						 data.data.forEach( (item,index) => {
						 	 let carouselObj = {

						 	 };
							  if(item.image == null){
								  carouselObj.img = "index/images/1.jpg";
							  }else{
								  carouselObj.img = "uploads/"+item.image;
							  }

                              //判断文章的来源
                             switch (item.type){
                                 case "首页最新消息":
                                     item.type = "zxxx";
                                      break;
                                 case "党工建设":
                                     item.type = "dgjs";
                                     break;
                                 case "德育管理":
                                     item.type = "dygl";
                                     break;
                                 case "教学科研":
                                     item.type = "jxky";
                                     break;
                                 case "招生就业":
                                     item.type = "zsjy";
                                     break;
                                 case "服务地方":
                                     item.type = "fwdf";
                                     break;
                                 default:
                                     item.type = "zxxx";
                             }

						 	 carouselObj.text = item.title;
						 	 carouselObj.textid = item.id;
						 	 carouselObj.id = index;
						 	 carouselObj.type = item.type;
						 		 // console.log(carouselObj);
						 		 vm.carouselArr.push(carouselObj);


						 });

                         vm.carouselArr.forEach(() => {
                             if(vm.carouselArr.length>5){
                             vm.carouselArr.splice(0,1);

                         }
                     });



					 }





				 })
			 },
			 //获取首页最新消息
			 getAllTitle:function(){
				 $.ajax({
					 url:"api/getallarticle",
					 data:"type=25",
					 success:function(data){
//						 console.log(data);
						 data.data.data.forEach( (item,index) => {
						      let titleObj = {

						      };
						      titleObj.id = index;
						      titleObj.text = item.title;
						      titleObj.textid = item.id;
						      titleObj.time = item.created_at;
						     	 let aaa = titleObj.time.split(" ");
						     	 titleObj.time = aaa[0];
						     	 // console.log(titleObj);
						     	 vm.titleArr.push(titleObj);
						 })
//							 console.log(vm.titleArr);

					 },
                      error:function(data){
						  console.log(data);
					  }
				 })
			 }

		},
		mounted:function(){
			//获取首页最新消息
			this.getAllTitle();
			//获取首页公告
			this.getNotice();
			//获取轮播信息
			this.getCarousedata();

		}
	})



</script>
<script src="index/js/zsdh_an.js"></script>

</body>
</html>
