<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../boostrap4/css/bootstrap.css">
    <link rel="stylesheet" href="../boostrap4/css/fonts.css">
    <link rel="stylesheet" href="css/Recruit_students_info.css">
    <link rel="stylesheet" href="../index/css/font_an.css">
    <style>
        .p-red{
            color: #ff0000;
        }
        [v-cloak] {
            display: none;
        }
        .zsdh_box{
            position: fixed;
            z-index: 10000000;

        }
    </style>
    <title>招生就业</title>
</head>
<body>
<!--banner开始-->
<section>
    <div id="hls_banner">
        <!---->
        <div id="hls_banner_box" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="hls_box clearfix">
                        <div class="tt t0">招</div>
                        <div class="tt t1">生</div>
                        <div class="tt t2">就</div>
                        <div class="tt t3">业</div>
                        <div class="tt t4">Recruit students</div>
                    </div>
                    <div class="logo"><img src="images/lojo_text.png" alt=""></div>
                    <img src="images/zsjy.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

        </div>
    </div>
</section>

<!--导航栏开始-->
<header id="hls_header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#hls_nav_button01" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="hls_nav_button01">
                    <ul class="navbar-nav mr-auto d-flex">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html">首页 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="../School_profile/School_profile.html" id="School_profile"   >
                                学校概况
                            </a>
                            <div class="dropdown-menu" aria-labelledby="School_profile">
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=0">学校简介</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=1">历史沿革</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=2">职能机构</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=3">规章制度</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=4">学校荣誉</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Professional_introduction.html">专业简介</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Part_build_work.html" id="Party_work"   >
                                党工建设
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Party_work">
                                <a class="dropdown-item" href="Part_build_work.html?tid=0">党建工作</a>
                                <a class="dropdown-item" href="Part_build_work.html?tid=1">工会工作</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Moral_education_manage.html" id="Moral_education"   >
                                德育管理
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Moral_education">
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=0">德育理念</a>
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=1">精神培育</a>
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=2">队伍建设</a>
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=3">安全法制</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Teaching_scientific_research.html" id="Teaching_scientific_research"   >
                                教学科研
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Teaching_scientific_research">
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=1">教师队伍</a>
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=2">教学管理</a>
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=3">科研工作</a>
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=4">高考动态</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Recruit_students_info.html" id="Enrollment_employment"   >
                                招生就业
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Enrollment_employment">
                                <a class="dropdown-item" href="Recruit_students_info.html?tid=0">招生政策</a>
                                <a class="dropdown-item" href="Recruit_students_info.html?tid=1">招生计划</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Teacher_student_style.html" id="Teacher_student_style"   >
                                师生风采
                            </a>
                            <!--<div class="dropdown-menu" aria-labelledby="Teacher_student_style">-->
                            <!--<a class="dropdown-item" href="">最美教师</a>-->
                            <!--<a class="dropdown-item" href="">最美学生</a>-->
                            <!--<a class="dropdown-item" href="">师生获奖</a>-->
                            <!--<a class="dropdown-item" href="">各类光荣榜</a>-->
                            <!--</div>-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="school_culture.html" id="school_culture"   >
                                校园文化
                            </a>
                            <div class="dropdown-menu" aria-labelledby="school_culture">
                                <a class="dropdown-item" href="school_culture.html?tid=0">校园风景</a>
                                <a class="dropdown-item" href="school_culture.html?tid=1">楼廊文化</a>
                                <a class="dropdown-item" href="school_culture.html?tid=2">视频集锦</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="server.html" id="hls_service"   >
                                服务地方
                            </a>
                            <div class="dropdown-menu" aria-labelledby="hls_service">
                                <a class="dropdown-item" href="server.html?tid=0">校企合作</a>
                                <a class="dropdown-item" href="server.html?tid=1">社区培训</a>
                                <a class="dropdown-item" href="server.html?tid=2">电大函授</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<!--下部分内容-->
<section>
    <div id="hls_con_box">
        <div class="line"></div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a class="list-group-item conpic_a"><img src="images/conpic_R.png" class="w-100" alt=""></a>
                    <div class="list-group" id="list-tab" role="tablist">

                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#hls_tab_con1" role="tab" aria-controls="home">招生政策</a>
                        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#hls_tab_zsjh" role="tab">招生计划</a>
                        <a class="list-group-item list-group-item-action d-none"  data-toggle="list" href="#hls_tab_zswd" role="tab">招生问答</a>
                        <a class="list-group-item list-group-item-action d-none"  data-toggle="list" href="#hls_tab_yxbys" role="tab">优秀毕业生</a>
                        <a class="list-group-item list-group-item-action d-none"  data-toggle="list" href="#hls_tab_jyzx" role="tab">就业咨询</a>
                        <a class="list-group-item list-group-item-action d-none"  data-toggle="list" href="#hls_tab_zzzcxj" role="tab">招生政策详情</a>
                        <!--<a class="list-group-item list-group-item-action" id="hls_tab3" data-toggle="list" href="#hls_tab_con3" role="tab" aria-controls="messages">职能机构</a>-->
                        <!--<a class="list-group-item list-group-item-action" id="hls_tab4" data-toggle="list" href="#hls_tab_con4" role="tab" aria-controls="settings">规章制度</a>-->
                        <!--<a class="list-group-item list-group-item-action" id="hls_tab5" data-toggle="list" href="#hls_tab_con5" role="tab" aria-controls="settings">学校荣誉</a>-->
                    </div>
                    <!--常用信息-->
                    <div class="used_news">
                        <div class="con_box_title">
                            <span class="font-weight-bold">Common 常用信息</span>
                        </div>
                        <ul class="d-flex list-unstyled flex-wrap">
                            <li><a href="../School_profile/School_profile.html?tid=0">学校简介</a></li>
                            <li><a href="Moral_education_manage.html?tid=10">主题活动</a></li>
                            <li><a href="school_culture.html?tid=2">视频集锦</a></li>
                            <li><a href="Professional_introduction.html">专业简介</a></li>
                            <li><a href="Teaching_scientific_research.html?tid=4">高考动态</a></li>
                            <li><a href="school_culture.html?tid=0">校园风景</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-10">
                    <span class="glyphicon glyphicon-triangle-top"></span>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <span>你当前的位置：</span>
                            <li class="breadcrumb-item"><a href="../index.html">学校首页</a></li>
                            <li class="breadcrumb-item"><a href="Recruit_students_info.html">招生就业</a></li>
                            <li class="breadcrumb-item active changeName_li" aria-current="page">招生政策</li>
                        </ol>
                    </nav>



                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="hls_tab_con1" role="tabpanel" aria-labelledby="list-home-list">
                            <!--党建工作-->
                            <div class="con_box_title">
                                <span class="">招生政策</span>
                            </div>
                            <div id="zszc_box" class="four_box_con">
                                <div class="row">
                                <div class="col-md-6 box_con">
                                    <div class="box_content w-100">
                                        <div class="bg_line_grn"></div>
                                        <div class="party_trends_top">
                                            <span class="float-left"><span class="float-left1"></span></span>
                                            <h3 class="float-left font-weight-bold">招生问答</h3>
                                            <a href="javascript:;" id="zswd_a"><span class="float-right mr-2">[更多]</span></a>
                                        </div>
                                        <div class="new_list">
                                            <ul class="list-unstyled overflow-auto">
                                                <li v-cloak v-for="item in zswd_title" class="border-bottom border-light"><a
                                                    :href="' ../detailed_info/detailed_info.html?tid=0&name=zsjy&id='+item.textid+' '"
                                                    class="d-block"><span
                                                    class="float-left">{{item.text_title}}</span><span
                                                    class="float-right">[{{item.text_time}}]</span></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 box_con ">
                                    <div class="box_content w-100 second_box_pic border-0">
                                        <div class="recruit_pic1"><a href="javascript:;"><img class="w-100" src="images/info_2.png" alt=""></a></div>
                                        <div class="recruit_pic2"><a href="javascript:;" ><img class="w-100" src="images/info_1.png" alt=""></a></div>


                                    </div>


                                </div>
                                <div class="col-md-6 box_con">
                                    <div class="box_content w-100">
                                        <div class="bg_line_grn"></div>
                                        <div class="party_trends_top">
                                            <span class="float-left"><span class="float-left1"></span></span>
                                            <h3 class="float-left font-weight-bold">优秀毕业生</h3>
                                            <a href="javascript:;" id="yxbys_a"><span class="float-right mr-2">[更多]</span></a>
                                        </div>
                                        <div class="new_list">
                                            <ul class="list-unstyled overflow-auto">
                                                <li v-cloak v-for="item in yxbys_title" class="border-bottom border-light"><a
                                                    :href="' ../detailed_info/detailed_info.html?tid=3&name=zsjy&id='+item.textid+' '"
                                                    class="d-block"><span
                                                    class="float-left">{{item.text_title}}</span><span
                                                    class="float-right">[{{item.text_time}}]</span></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 box_con">
                                    <div class="box_content w-100">
                                        <div class="bg_line_grn"></div>
                                        <div class="party_trends_top">
                                            <span class="float-left"><span class="float-left1"></span></span>
                                            <h3 class="float-left font-weight-bold">就业咨询</h3>
                                            <a href="javascript:;" id="jyzx_a"><span class="float-right mr-2">[更多]</span></a>
                                        </div>
                                        <div class="new_list">
                                            <ul class="list-unstyled overflow-auto">
                                                <li v-cloak v-for="item in jyzx_title" class="border-bottom border-light"><a
                                                    :href="' ../detailed_info/detailed_info.html?tid=4&name=zsjy&id='+item.textid+' '"
                                                    class="d-block"><span
                                                    class="float-left">{{item.text_title}}</span><span
                                                    class="float-right">[{{item.text_time}}]</span></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>


                                </div>
                            </div>
                        </div>
                        <!--招生计划-->
                        <div class="tab-pane fade" id="hls_tab_zsjh" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">招生计划</span>
                            </div>
                            <!--招生计划-->
                            <div class="Trade_union_work" id="zsjh_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_zsjh" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_zsjh">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=1&name=zsjy&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--招生问答-->
                        <div class="tab-pane fade" id="hls_tab_zswd" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">招生问答</span>
                            </div>
                            <!--招生问答-->
                            <div class="Trade_union_work" id="zswd_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_zswd" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_zswd">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=2&name=zsjy&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--优秀毕业生-->
                        <div class="tab-pane fade" id="hls_tab_yxbys" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">优秀毕业生</span>
                            </div>
                            <!--优秀毕业生-->
                            <div class="Trade_union_work" id="yxbys_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_yxbys" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_yxbys">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=3&name=zsjy&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--就业咨询-->
                        <div class="tab-pane fade" id="hls_tab_jyzx" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">就业咨询</span>
                            </div>
                            <!--就业咨询-->
                            <div class="Trade_union_work" id="jyzx_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_jyzx" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_jyzx">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=4&name=zsjy&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--招生政策详情-->
                        <div class="tab-pane fade" id="hls_tab_zzzcxj" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">招生政策</span>
                            </div>
                            <!--就业咨询-->
                            <h3 class="text-center text-dark mt-3">招生政策</h3>
                            <span class="h4">国家政策</span>
                            <p>1.中等职业学校国家资助政策：就读中职的学生免除3年学费；符合条件的家庭贫困学生还可享受2年国家助学金，平均资助标准每生每年2000元；全日制在校生中特别优秀的学生可申请参评国家中职奖学金，标准6000元/年。

                            </p>
                            <p> 2.国家助学贷款政策：升入高职院校的学生可申请免息助学贷款，每生8000元/年。</p>
                            <span class="h4 p-red">就读综合高中（职高部）优势</span>
                            <p >1.<span class="p-red">高职院校扩招：</span>国家高度重视职业教育发展，增加职业教育本科计划，建立职业教育人才上升通道,可以考研读博，今明两年高职院校扩招就达200万人。</p>
                            <p >2.<span class="p-red">升学渠道多:</span>学生可参加全省中等职业学校毕业生专业对口升学招生考试，凭借专业技能优势，升入本科大学；也可参加单考单招，录取率高，可满足学生自由选择优势专业的需求；还可以中高职贯通，毕业后直接升入贯通高职院校，意味着学生入学就迈进大学的门。</p>
                             <p>3. <span  class="p-red">我校“家长学校”长期聘请全国知名教育专家李晓凡为客座教授，多维度提升学生综合素养。</p>
                             <p >4.<span class="p-red">国家“1+Ｘ”证书试点学校。</span>计算机视觉应用研发职业技能等级证书，被国家教育部录入职业技能等级证书信息管理服务平台，列入国家“1+Ｘ”证书试点。计算机专业学生在高中阶段可考取获得职业技能等级证书，在全国范围内通用，就业渠道更宽。</p>
                             <p >5.<span class="p-red">“入学即就业”。</span>客户信息服务专业采取“定向培养、工学结合”模式，学习期间享受补助，可升学、可就业（面向全国）。</p>
                             <p >6.<span class="p-red">“国防后备班”升学当兵两不误。</span>学校与市武装部合办了计算机应用（国防后备班方向），为军队培养预备兵源。在校期间接受国防教育、军事训练，为应征入伍打基础。</p>


                             <p>7.<span class="p-red">就业升学率高。</span>据教育部统计，2016年全国中等职业学校毕业生就业率为96.72%，对口就业率为75.6%，就业优势明显高于普通高中学生。2019年我校高考升入大学本科人数位居牡丹江地区同类学校第二名。</p>
                             <p>8.<span class="p-red">高标准、严管理、低收费解决家庭后顾之忧。</span>我校实行校园封闭化管理，专职保安员配备率100%。门卫24小时在岗，配有警备室和微型消防站，监控覆盖整个校园。学生公寓实行物业保安、学生会、宿管教师和学校领导四级管理制度。宿管教师24小时无缝对接，学校领导每天值宿带班，使学生感觉到家的温馨和踏实，住宿费125元/学期。学校食堂有专门的食堂管理委员会，制定了食堂管理制度和学生就餐制度，一日三餐都有教师负责监管学生就餐秩序，监督食堂菜品的质量，保证学生的饮食营养均衡和安全。</p>

                        </div


                    </div>
                </div>
            </div>




        </div>












    </div>







</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="logo col-4 d-flex justify-content-center">
                <img src="images/logo.png" alt="">
            </div>
            <div class="school_info col-8 d-flex align-items-center">
                版权所有@海林市综合高中|地址:
                ~~r
                |邮编: 102206 |京ICP备18054216号
            </div>
        </div>
    </div>


</footer>

<!--飘动的招生电话-->
<section>
    <div  class="zsdh_box">
        <img src="../index/images/zsdh.png" alt="">
    </div>
</section>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../boostrap4/js/jquery.js"></script>
<script src="../boostrap4/js/bootstrap.js"></script>
<script src="js/jaliswall.js"></script>
<script src="../index/js/zsdh_an.js"></script>
<script src="../boostrap4/js/vue.js"></script>
<script>
    //招生政策模块 ok!
    const vm_zszc= new Vue({
        el: "#zszc_box",
        data: {
            imgArr: [
//                {
//                    utl:"",
//                    text:""
//                }


            ],
            zswd_title: [],
            yxbys_title: [],
            jyzx_title: []

        },
        methods: {


            save_zswd: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=4",
                    success: function (data) {
//							 console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            val.created_at = val.created_at.split(" ")[0];
                            //获取内容信息
                            let obj1 = {};
                            obj1.text_title = val.title;
                            obj1.text_time = val.created_at;
                            obj1.textid = val.id;
                            obj1.id = index;
                            vm_zszc.zswd_title.push(obj1);

                        });
                    }
                })
            },

            save_yxbys: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=5",
                    success: function (data) {
//							 console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            val.created_at = val.created_at.split(" ")[0];
                            //获取内容信息
                            let obj1 = {};
                            obj1.text_title = val.title;
                            obj1.text_time = val.created_at;
                            obj1.textid = val.id;
                            obj1.id = index;
                            vm_zszc.yxbys_title.push(obj1);

                        });
                    }
                })
            },

            save_jyzx: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=6",
                    success: function (data) {
//							 console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            val.created_at = val.created_at.split(" ")[0];
                            //获取内容信息
                            let obj1 = {};
                            obj1.text_title = val.title;
                            obj1.text_time = val.created_at;
                            obj1.textid = val.id;
                            obj1.id = index;
                            vm_zszc.jyzx_title.push(obj1);

                        });
                    }
                })
            }


        },
        mounted: function () {
            this.save_zswd();
            this.save_yxbys();
            this.save_jyzx();
        }
    });


    //    招生计划  ok
    const vm_zsjh = new Vue({
        el: "#zsjh_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_zsjh.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=28&page=" + (vm_zsjh.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_zsjh.newsInfo.push(obj1);

                        })
//							console.log(vm_zsjh.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=28",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_zsjh.allTabNum = yema;
                        // console.log(vm_zsjh.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_zsjh.tabInfo.push(obj2);

                        }
                        // console.log(vm_zsjh.tabInfo);
                    }
                })
            }
        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_zsjh").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_zsjh").children("li").eq(0).trigger("click");
                })

            }
        },
        mounted: function () {
            this.creatTab();
        }

    });
    //    招生问答  ok!
    const vm_zswd = new Vue({
        el: "#zswd_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_zswd.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=4&page=" + (vm_zswd.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_zswd.newsInfo.push(obj1);

                        })
//							console.log(vm_zswd.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=4",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_zswd.allTabNum = yema;
                        // console.log(vm_zswd.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_zswd.tabInfo.push(obj2);

                        }
                        // console.log(vm_zswd.tabInfo);
                    }
                })
            }
        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_zswd").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_zswd").children("li").eq(0).trigger("click");
                })

            }
        },
        mounted: function () {
            this.creatTab();
        }

    });
    //    优秀毕业生  ok!
    const vm_yxbys = new Vue({
        el: "#yxbys_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_yxbys.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=5&page=" + (vm_yxbys.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_yxbys.newsInfo.push(obj1);

                        })
//							console.log(vm_yxbys.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=5",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_yxbys.allTabNum = yema;
                        // console.log(vm_yxbys.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_yxbys.tabInfo.push(obj2);

                        }
                        // console.log(vm_yxbys.tabInfo);
                    }
                })
            }
        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_yxbys").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_yxbys").children("li").eq(0).trigger("click");
                })

            }
        },
        mounted: function () {
            this.creatTab();
        }

    });
    //    就业咨询  ok!
    const vm_jyzx = new Vue({
        el: "#jyzx_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_jyzx.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=6&page=" + (vm_jyzx.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_jyzx.newsInfo.push(obj1);

                        })
//							console.log(vm_jyzx.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=6",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_jyzx.allTabNum = yema;
                        // console.log(vm_jyzx.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_jyzx.tabInfo.push(obj2);

                        }
                        // console.log(vm_jyzx.tabInfo);
                    }
                })
            }
        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_jyzx").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_jyzx").children("li").eq(0).trigger("click");
                })

            }
        },
        mounted: function () {
            this.creatTab();
        }

    });



</script>
<script>

    $("#hls_nav_button01").find("li.nav-item").mouseover(function () {
        $(this).addClass("show");
        $(this).children("div").addClass("show");
    });
    $("#hls_nav_button01").find("li.nav-item").mouseout(function () {
        $(this).removeClass("show");
        $(this).children("div").removeClass("show");
    });
    $(".recruit_pic1").click(function () {
        $(".list-group").children(".list-group-item").eq(1).trigger("click");
    })

    //点击更多进行跳转
    $("#zswd_a").click(function () {
        $("#list-tab").children("a").eq(2).trigger("click");
    });
    $("#yxbys_a").click(function () {
        $("#list-tab").children("a").eq(3).trigger("click");
    });
    $("#jyzx_a").click(function () {
        $("#list-tab").children("a").eq(4).trigger("click");
    });
    $(".recruit_pic2").click(function () {
        $("#list-tab").children("a").eq(5).trigger("click");
    });



</script>
<script src="../index/js/jump_top.js"></script>
</body>
</html>
