<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../boostrap4/css/bootstrap.css">
    <link rel="stylesheet" href="../boostrap4/css/fonts.css">
    <link rel="stylesheet" href="css/Part_build_work.css">
    <link rel="stylesheet" href="../index/css/font_an.css">
    <title>教学科研</title>
    <style>
        .t4{
            margin-left: 18%!important;
        }
        [v-cloak] {
            display: none;
        }
        .zsdh_box{
            position: fixed;
            z-index: 10000000;

        }
    </style>
</head>
<body>
<!--banner开始-->
<section>
    <div id="hls_banner">
        <!---->
        <div id="hls_banner_box" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="hls_box clearfix">
                        <div class="tt t0">教</div>
                        <div class="tt t1">学</div>
                        <div class="tt t2">科</div>
                        <div class="tt t3">研</div>
                        <div class="tt t4">Teaching research</div>
                    </div>
                    <div class="logo"><img src="images/lojo_text.png" alt=""></div>
                    <img src="images/jxky.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

        </div>
    </div>
</section>

<!--导航栏开始-->
<header id="hls_header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#hls_nav_button01" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="hls_nav_button01">
                    <ul class="navbar-nav mr-auto d-flex">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html">首页 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="../School_profile/School_profile.html" id="School_profile"   >
                                学校概况
                            </a>
                            <div class="dropdown-menu" aria-labelledby="School_profile">
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=0">学校简介</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=1">历史沿革</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=2">职能机构</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=3">规章制度</a>
                                <a class="dropdown-item" href="../School_profile/School_profile.html?tid=4">学校荣誉</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Professional_introduction.html">专业简介</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Part_build_work.html" id="Party_work"   >
                                党工建设
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Party_work">
                                <a class="dropdown-item" href="Part_build_work.html?tid=0">党建工作</a>
                                <a class="dropdown-item" href="Part_build_work.html?tid=1">工会工作</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Moral_education_manage.html" id="Moral_education"   >
                                德育管理
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Moral_education">
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=0">德育理念</a>
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=1">精神培育</a>
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=2">队伍建设</a>
                                <a class="dropdown-item" href="Moral_education_manage.html?tid=3">安全法制</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Teaching_scientific_research.html" id="Teaching_scientific_research"   >
                                教学科研
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Teaching_scientific_research">
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=1">教师队伍</a>
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=2">教学管理</a>
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=3">科研工作</a>
                                <a class="dropdown-item" href="Teaching_scientific_research.html?tid=4">高考动态</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Recruit_students_info.html" id="Enrollment_employment"   >
                                招生就业
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Enrollment_employment">
                                <a class="dropdown-item" href="Recruit_students_info.html?tid=0">招生政策</a>
                                <a class="dropdown-item" href="Recruit_students_info.html?tid=1">招生计划</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="Teacher_student_style.html" id="Teacher_student_style"   >
                                师生风采
                            </a>
                            <!--<div class="dropdown-menu" aria-labelledby="Teacher_student_style">-->
                            <!--<a class="dropdown-item" href="">最美教师</a>-->
                            <!--<a class="dropdown-item" href="">最美学生</a>-->
                            <!--<a class="dropdown-item" href="">师生获奖</a>-->
                            <!--<a class="dropdown-item" href="">各类光荣榜</a>-->
                            <!--</div>-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="school_culture.html" id="school_culture"   >
                                校园文化
                            </a>
                            <div class="dropdown-menu" aria-labelledby="school_culture">
                                <a class="dropdown-item" href="school_culture.html?tid=0">校园风景</a>
                                <a class="dropdown-item" href="school_culture.html?tid=1">楼廊文化</a>
                                <a class="dropdown-item" href="school_culture.html?tid=2">视频集锦</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="server.html" id="hls_service"   >
                                服务地方
                            </a>
                            <div class="dropdown-menu" aria-labelledby="hls_service">
                                <a class="dropdown-item" href="server.html?tid=0">校企合作</a>
                                <a class="dropdown-item" href="server.html?tid=1">社区培训</a>
                                <a class="dropdown-item" href="server.html?tid=2">电大函授</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<!--下部分内容-->
<section>
    <div id="hls_con_box">
        <div class="line"></div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a class="list-group-item conpic_a"><img src="images/conpic_T.png" class="w-100" alt=""></a>
                    <div class="list-group" id="list-tab" role="tablist">

                        <a class="list-group-item list-group-item-action active d-none" id="hls_tab1" data-toggle="list" href="#hls_tab_con1" role="tab" >教学科研</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#hls_tab_jsdw" role="tab">教师队伍</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#hls_tab_jxgl" role="tab">教学管理</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#hls_tab_kygz" role="tab">科研工作</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#hls_tab_gkdt" role="tab">高考动态</a>

                    </div>
                    <!--常用信息-->
                    <div class="used_news">
                        <div class="con_box_title">
                            <span class="font-weight-bold">Common 常用信息</span>
                        </div>
                        <ul class="d-flex list-unstyled flex-wrap">
                            <li><a href="../School_profile/School_profile.html?tid=0">学校简介</a></li>
                            <li><a href="school_culture.html?tid=2">视频集锦</a></li>
                            <li><a href="Professional_introduction.html">专业简介</a></li>
                            <li><a href="school_culture.html?tid=0">校园风景</a></li>
                            <li><a href="Recruit_students_info.html?tid=5">招生政策</a></li>
                            <li><a href="Recruit_students_info.html?tid=1">招生计划</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-10">
                    <span class="glyphicon glyphicon-triangle-top"></span>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <span>你当前的位置：</span>
                            <li class="breadcrumb-item"><a href="../index.html">学校首页</a></li>
                            <li class="breadcrumb-item"><a href="javascript:;" id="jxky_a">教学科研</a></li>
                            <li class="breadcrumb-item active changeName_li" aria-current="page">教学科研</li>
                        </ol>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--教学科研-->
                        <div class="tab-pane fade show active" id="hls_tab_con1" role="tabpanel">

                            <div class="con_box_title">
                                <span class="">教学科研</span>
                            </div>
                            <div id="jxky_box" class="four_box_con">
                                <div class="row">
                                <div class="col-md-6 box_con">
                                    <div class="box_content w-100">
                                        <div class="bg_line_grn"></div>
                                        <div class="party_trends_top">
                                            <span class="float-left"><span class="float-left1"></span></span>
                                            <h3 class="float-left font-weight-bold">教师队伍</h3>
                                            <a href="javascript:;" id="jsdw_a"><span class="float-right mr-2">[更多]</span></a>
                                        </div>
                                        <div class="new_list">
                                            <ul class="list-unstyled overflow-auto">
                                                <li v-cloak v-for="item in jsdw_title" class="border-bottom border-light"><a
                                                    :href="' ../detailed_info/detailed_info.html?tid=0&name=jxky&id='+item.textid+' '"
                                                    class="d-block"><span
                                                    class="float-left">{{item.text_title}}</span><span
                                                    class="float-right">[{{item.text_time}}]</span></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 box_con">
                                    <div class="box_content w-100">
                                        <div class="bg_line_grn"></div>
                                        <div class="party_trends_top">
                                            <span class="float-left"><span class="float-left1"></span></span>
                                            <h3 class="float-left font-weight-bold">教学管理</h3>
                                            <a href="javascript:;" id="jxgl_a"><span class="float-right mr-2">[更多]</span></a>
                                        </div>
                                        <div class="new_list">
                                            <ul class="list-unstyled overflow-auto">
                                                <li v-cloak v-for="item in jxgl_title" class="border-bottom border-light"><a
                                                    :href="' ../detailed_info/detailed_info.html?tid=1&name=jxky&id='+item.textid+' '"
                                                    class="d-block"><span
                                                    class="float-left">{{item.text_title}}</span><span
                                                    class="float-right">[{{item.text_time}}]</span></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-12 box_con">
                                    <div class="box_content w-100">
                                        <div class="bg_line_grn"></div>
                                        <div class="party_trends_top">
                                            <span class="float-left"><span class="float-left1"></span></span>
                                            <h3 class="float-left font-weight-bold">科研工作</h3>
                                            <a href="javascript:;" id="kygz_a"><span class="float-right mr-2">[更多]</span></a>
                                        </div>
                                        <div class="new_list">
                                            <ul class="list-unstyled overflow-auto">
                                                <li v-cloak v-for="item in kygz_title" class="border-bottom border-light"><a
                                                    :href="' ../detailed_info/detailed_info.html?tid=2&name=jxky&id='+item.textid+' '"
                                                    class="d-block"><span
                                                    class="float-left">{{item.text_title}}</span><span
                                                    class="float-right">[{{item.text_time}}]</span></a></li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                                </div>
                            </div>
                        </div>
                        <!--教师队伍-->
                        <div class="tab-pane fade" id="hls_tab_jsdw" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">教师队伍</span>
                            </div>
                            <!--教师队伍-->
                            <div class="Trade_union_work" id="jsdw_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_jsdw" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_jsdw">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=0&name=jxky&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--教学管理-->
                        <div class="tab-pane fade" id="hls_tab_jxgl" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">教学管理</span>
                            </div>
                            <!--教学管理-->
                            <div class="Trade_union_work" id="jxgl_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_jxgl" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_jxgl">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=1&name=jxky&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--科研工作-->
                        <div class="tab-pane fade" id="hls_tab_kygz" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">科研工作</span>
                            </div>
                            <!--科研工作-->
                            <div class="Trade_union_work" id="kygz_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_kygz" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_kygz">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=2&name=jxky&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>
                        <!--高考动态-->
                        <div class="tab-pane fade" id="hls_tab_gkdt" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <div class="con_box_title">
                                <span class="">高考动态</span>
                            </div>
                            <!--高考动态-->
                            <div class="Trade_union_work" id="gkdt_work">
                                <ul class="nav nav-tabs union_tabs" id="part_build_Tab_gkdt" role="tablist">
                                    <li @click="save(item.typeNum)" v-cloak v-for="(item,index) in tabInfo" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" :href="' #nav_list_tab '+item.typeNum+' '"
                                           role="tab" aria-controls="home" aria-selected="true">{{item.typeNum}}</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent_gkdt">
                                    <!-- 遍历生成选项卡对应的内容框 -->
                                    <div v-cloak v-for="(item,index) in tabInfo" class="tab-pane fade"
                                         :class="{'active show':index==0}" :id="' nav_list_tab'+item.typeNum+' '"
                                         role="tabpanel" aria-labelledby="home-tab">

                                        <div class="union_news_cons" id="union_news_cons">
                                            <!-- 遍历生成内容框里面的一条条数据 -->
                                            <div class="new_1 row" v-cloak v-for="(item) in newsInfo">
                                                <div class="new_pic col-3">
                                                    <img :src="item.url" alt="">
                                                </div>
                                                <div class="new_text col-9">
                                                    <h3>{{item.news_title}}</h3>
                                                    <p>{{item.news_synopsis}}</p>
                                                    <span>[{{item.news_time}}]</span>
                                                    <!-- 点击详细信息跳转到详细页面 -->
                                                    <a :href="' ../detailed_info/detailed_info.html?tid=3&name=jxky&id='+item.textid+' '"
                                                       class="btn btn-outline-primary p-0"> + 查看详情</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="tab-pane fade" id="nav_list_tab2" role="tabpanel" aria-labelledby="profile-tab">2</div> -->
                                    <!-- <div class="tab-pane fade" id="nav_list_tab3" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                                </div>
                            </div>
                        </div>




                        <!--<div class="tab-pane fade" id="hls_tab_con5" role="tabpanel" aria-labelledby="list-settings-list">5</div>-->
                    </div>
                </div>
            </div>




        </div>












    </div>







</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="logo col-4 d-flex justify-content-center">
                <img src="images/logo.png" alt="">
            </div>
            <div class="school_info col-8 d-flex align-items-center">
                版权所有@海林市综合高中|地址:
                ~~r
                |邮编: 102206 |京ICP备18054216号
            </div>
        </div>
    </div>


</footer>
<!--飘动的招生电话-->
<section>
    <div  class="zsdh_box">
        <img src="../index/images/zsdh.png" alt="">
    </div>
</section>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../boostrap4/js/jquery.js"></script>
<script src="../boostrap4/js/bootstrap.js"></script>
<script src="js/jaliswall.js"></script>
<script src="../index/js/zsdh_an.js"></script>
<script src="../boostrap4/js/vue.js"></script>
<script>
    //教学科研模块 ok!
    const vm_jxky= new Vue({
        el: "#jxky_box",
        data: {
            imgArr: [
//                {
//                    utl:"",
//                    text:""
//                }


            ],
            jsdw_title: [],
            jxgl_title: [],
            kygz_title: []

        },
        methods: {


            save_jsdw: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=19",
                    success: function (data) {
//							 console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            val.created_at = val.created_at.split(" ")[0];
                            //获取内容信息
                            let obj1 = {};
                            obj1.text_title = val.title;
                            obj1.text_time = val.created_at;
                            obj1.textid = val.id;
                            obj1.id = index;
                            vm_jxky.jsdw_title.push(obj1);

                        });
                    }
                })
            },

            save_jxgl: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=20",
                    success: function (data) {
//							 console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            val.created_at = val.created_at.split(" ")[0];
                            //获取内容信息
                            let obj1 = {};
                            obj1.text_title = val.title;
                            obj1.text_time = val.created_at;
                            obj1.textid = val.id;
                            obj1.id = index;
                            vm_jxky.jxgl_title.push(obj1);

                        });
                    }
                })
            },

            save_kygz: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=21",
                    success: function (data) {
//							 console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            val.created_at = val.created_at.split(" ")[0];
                            //获取内容信息
                            let obj1 = {};
                            obj1.text_title = val.title;
                            obj1.text_time = val.created_at;
                            obj1.textid = val.id;
                            obj1.id = index;
                            vm_jxky.kygz_title.push(obj1);

                        });
                    }
                })
            }


        },
        mounted: function () {
            this.save_jsdw();
            this.save_jxgl();
            this.save_kygz();
        }
    });


    //    教师队伍  ok!
    const vm_jsdw = new Vue({
        el: "#jsdw_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_jsdw.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=19&page=" + (vm_jsdw.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_jsdw.newsInfo.push(obj1);

                        })
//							console.log(vm_jsdw.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=19",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_jsdw.allTabNum = yema;
                        // console.log(vm_jsdw.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_jsdw.tabInfo.push(obj2);

                        }
                        // console.log(vm_jsdw.tabInfo);
                    }
                })
            }
        },
        mounted: function () {

            this.creatTab();

        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_jsdw").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_jsdw").children("li").eq(0).trigger("click");
                })

            }
        }

    });
    //    教学管理  ok!
    const vm_jxgl = new Vue({
        el: "#jxgl_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_jxgl.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=20&page=" + (vm_jxgl.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_jxgl.newsInfo.push(obj1);

                        })
//							console.log(vm_jxgl.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=20",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_jxgl.allTabNum = yema;
                        // console.log(vm_jxgl.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_jxgl.tabInfo.push(obj2);

                        }
                        // console.log(vm_jxgl.tabInfo);
                    }
                })
            }
        },
        mounted: function () {

            this.creatTab();

        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_jxgl").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_jxgl").children("li").eq(0).trigger("click");
                })

            }
        }

    });
    //    科研工作  ok!
    const vm_kygz = new Vue({
        el: "#kygz_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_kygz.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=21&page=" + (vm_kygz.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_kygz.newsInfo.push(obj1);

                        })
//							console.log(vm_kygz.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=21",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_kygz.allTabNum = yema;
                        // console.log(vm_kygz.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_kygz.tabInfo.push(obj2);

                        }
                        // console.log(vm_kygz.tabInfo);
                    }
                })
            }
        },
        mounted: function () {

            this.creatTab();

        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_kygz").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_kygz").children("li").eq(0).trigger("click");
                })

            }
        }

    });
    //    高考动态  ok!
    const vm_gkdt = new Vue({
        el: "#gkdt_work",
        data: {
            newsInfo: [
                //           {
                //               news_title:"明天中考!你应该花3分钟看一下这篇文章!",
                //               news_synopsis:`开考前20分钟(英语科目开考前30分钟)打预备铃，
                // 考生进入考场，考试开始15分钟后迟到考生不能进入考点(英语听力开始后就不得进场)。
                // 生活中,有一些我们常常见到的成语，在口语交流、写作等使用过程中却往往误解了它的本义。
                // 即将中考，快让孩子看看，考试时别用错了。`,
                //               news_time:"2019-06-03",
                //               url:"images/acq_pic.png"
                //           }

            ],
            tabInfo: [],
            allTabNum: ""
        },
        methods: {

            // 每一个li点击时候发送ajax请求
            save: function (typeNum) {
                vm_gkdt.newsInfo = [];
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=27&page=" + (vm_gkdt.tabInfo.length - typeNum + 1),
                    success: function (data) {
                        // console.log(data.data);
                        let dataArr = data.data.data;
                        // console.log(dataArr);
                        dataArr.forEach(function (val, index) {
                            //获取内容信息
                            let obj1 = {}
                            obj1.news_title = val.title;
                            obj1.news_synopsis = val.synopsis;
                            obj1.news_time = val.created_at;
                            obj1.textid = val.id;
                            if (val.image == null || undefined) {
                                obj1.url = "images/acq_pic.png";
                            } else {
                                obj1.url = "../uploads/" + val.image;
                            }

                            vm_gkdt.newsInfo.push(obj1);

                        })
//							console.log(vm_gkdt.newsInfo);
                    }
                })
            },

            //创建新的tab
            creatTab: function () {
                $.ajax({
                    url: "../api/getallarticle",
                    data: "type=27",
                    success: function (data) {
                        // console.log(data);
                        //获取页码
                        let yema = data.data.last_page;
                        vm_gkdt.allTabNum = yema;
                        // console.log(vm_gkdt.allTabNum);
                        //创建页码和内容
                        for (var i = 0; i < yema; i++) {
                            let obj2 = {};
                            obj2.typeNum = (i + 1);
                            obj2.id = (i + 1);
                            vm_gkdt.tabInfo.push(obj2);

                        }
                        // console.log(vm_gkdt.tabInfo);
                    }
                })
            }
        },
        mounted: function () {

            this.creatTab();

        },
        watch:{
            tabInfo:function () {
                this.$nextTick(function () {
                    $("#part_build_Tab_gkdt").children("li").eq(0).children("a").addClass("active");
                    // 工会工作
                    $("#part_build_Tab_gkdt").children("li").eq(0).trigger("click");
                })

            }
        }

    });

</script>
<script>

    $("#hls_nav_button01").find("li.nav-item").mouseover(function () {
        $(this).addClass("show");
        $(this).children("div").addClass("show");
    });
    $("#hls_nav_button01").find("li.nav-item").mouseout(function () {
        $(this).removeClass("show");
        $(this).children("div").removeClass("show");
    });

    //点击更多进行跳转
    $("#jxky_a").click(function () {
        $("#list-tab").children("a").eq(0).trigger("click");
    });
    $("#jsdw_a").click(function () {
        $("#list-tab").children("a").eq(1).trigger("click");
    });
    $("#jxgl_a").click(function () {
        $("#list-tab").children("a").eq(2).trigger("click");
    });
    $("#kygz_a").click(function () {
        $("#list-tab").children("a").eq(3).trigger("click");
    });







</script>
<script src="../index/js/jump_top.js"></script>
</body>
</html>
